@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

$primary_color: #666666;

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: $primary_color;
}

.todo_item_list .status {
    font-size: 11px;
    padding: 2px;
    border-radius: 4px;
}
